<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>List of short URLs</title>
    </head>
    <body style="font-size:20px; padding:50px;">
        <header>
            <% include ./partials/_header %>
        </header>
        <h3>YOUR URLS</h3>
        <ul>
            <% urls.forEach((url) => { %>
                <li>
                    <%= url.shortURL %> - <a href ="<%= url.longURL %>"><%= url.longURL %></a>
                    <a href="/urls/<%= url.shortURL %>" "><input type="submit" class="like" value="Edit url"></a><br/>
                    <form method="POST" action="/urls/<%= url.shortURL %>/delete"><input type="submit" class="like" value="Delete url"></form><br/>
                </li>
            <% }) %>
        </ul>
        <a href ="/urls/new">Add a url:</a>
    </body>
</html>
